<template name="popup">
	{{#with popup}}
	<div class="popup">

		<div class="popup-overlay {{options.overlayClass}}" style="background-color: {{options.overlayColor}};"></div>

		<div class="popup-center">
			
			<div class="popup-content {{options.contentClass}} {{options.contentWidth}}">

				{{#if options.showClose}}
					<a href="#" class="popup-close">
						{{#if options.closeIcon}}
							<i class="{{options.closeIcon}}"></i>
						{{else}}
							{{options.closeLabel}}
						{{/if}}
					</a>
				{{/if}}

				{{> Template.dynamic template=template data=data}}
				
			</div>

		</div>
		
	</div>
	{{/with}}
</template>