
.popup{

    position: fixed;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex; 

    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    overflow-x:hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
}

.popup .popup-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);

    cursor: crosshair;

    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}


.popup .popup-center{

    vertical-align: middle;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex; 
    margin: auto;
    text-align: center;
    width: 100%;

}

.popup .popup-center .popup-content {
        
    border-radius: 4px;
    width: auto;
    margin: auto auto auto auto;
    min-width:600px;
    max-width: 50%;
    background: #eee;
    color: #333;
    padding: 20px 20px 20px 20px;
    display: inline-table;
    position: relative;
    
}
/*
.popup .popup-center .popup-content.xsmall {
    min-width:400px;  
    max-width:40%;  
}
.popup .popup-center .popup-content.small {
    min-width:600px;
    max-width:50%;
}
.popup .popup-center .popup-content.medium {
    min-width:800px;
    max-width:60%;
}
.popup .popup-center .popup-content.large {
    min-width:1000px;
    max-width:100%;
}
.popup .popup-center .popup-content.xlarge {
    min-width:1200px;
    max-width:100%;
}
.popup .popup-center .popup-content.half {
    min-width:50%;
    max-width:50%;
}
.popup .popup-center .popup-content.full {
    min-width:100%;
    max-width:100%;
}
*/


.popup .popup-center .popup-content .popup-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0px 0px;
    text-decoration: none;
}

@media (max-width: 680px){

    .popup .popup-center .popup-content{
        min-width:500px;
    }
    
}

@media (max-width: 550px){

    .popup .popup-center .popup-content{
        min-width:400px;
    }
    
}

@media (max-width: 450px){

    .popup .popup-center .popup-content{
        min-width:300px;
    }
    
}


